<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'gold/style.css' %}" />
        <script src="{% static 'gold/script.js' %}"></script>
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body>
        <header>
            <a href="{% url 'gold:index' %}"><h2>Goldz-Arr-Uss <img src="{% static 'gold/images/checkmark.png' %}" alt=""></h2></a>
            <em>Gold you can count on.</em>
        </header>
        <main>
             {% block content %}
             {% endblock %}
        </main>
        <footer>
            <p>Copyright Goldz-Arr-Uss 2017.</p>
            <p>Instructions for generating this web app were provided by the <a href="https://docs.djangoproject.com/en/1.11/intro/tutorial01/">Django Software Foundation</a>.</p>
            <p>The checkmark icon in the header was found at <a href="http://weclipart.com/yes+check+mark+clip+art">Weclipart</a>.</p>
        </footer>
    </body>
</html>