{% extends 'gold/base.html' %}

{% block title %}
    Goldz-Arr-Uss
{% endblock %}

{% block content %}
    <h1>You're worth you're weight in gold!</h1>
    <p>
        Welcome to Goldz-Arr-Uss. Here at Goldz-Arr-Uss, we believe that you're worth your weight in gold! How much is that exactly? Well type in your weight below and have a look-see, why doncha?
    </p>
    <fieldset>
        <legend>
            Enter your weight
        </legend>
        <p>
            <label>
                Weight:
                <input type="text" name="weight" id="weight">
            </label>
        </p>
        <p>
            <label>
                Unit of Measure:
                <select name="fromUnit" id="fromUnit">
                    <option value="lb" selected>Pounds (lbs)</option>
                    <option value="kg">Kilograms (kgs)</option>
                    <option value="g">Grams (g)</option>
                    <option value="N">Newtons (N)</option>
                    <option value="t_oz">Troy Ounces (oz t)</option>
                </select>
            </label>
        </p>
        <p class="center">
            <button type="submit" id="submitWeight">Submit</button>
        </p>
    </fieldset>
    <div id="results"></div>
{% endblock %}