<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
        <title>Polls Home</title>
    </head>
    <body>
        <header>
            
        </header>
        <main>
             {% block content %}
             {% endblock %}
        </main>
        <footer>
            <p>Copyright Polls-Arr-Uss 2017.</p>
            <p>Instructions for generating this web app were provided by the <a href="https://docs.djangoproject.com/en/1.11/intro/tutorial01/">Django Software Foundation</a>.</p>
        </footer>
    </body>
</html>