{% extends 'blog/base.html' %}

{% block title %}
    About Taako
{% endblock %}

{% block main %}
    <h1>About Me</h1>
    <div class="flex">
        <article class="flex">
            <div><img src="taako.jpg" alt="Taako"></div>
            <div>
                <h2>Hey There</h2>
                <p>My name's Taako. You may recognize me from my cooking show, <i>Sizzlin' It Up With Taako</i>. If not, you may have heard of my many great accomplishments as a member of an elite squad of Reclaimers for the Bureau of Balance. It's all strictly classified, but I'm sure Angus has blabbed some of it to the general public.</p>
                <p>Anyhoo, enjoy the blog. I've got a universe or two to save. I think the site's about web design or some mumbo jumbo like that? Go hog wild, boss.</p>
            </div>
        </article>
    </div>
{% endblock %}