{% extends 'blog/base.html' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block main %}
    <article>
        <h1>
            {{ blog.title }}
        </h1>
        <p>
            {{ blog.auth_name }}
        </p>
        <p>
            {{ blog.pub_date }}
        </p>
        <p>
            {{ blog.content }}
        </p>
    </article>
    <hr>
    <h2>
        Comments
    </h2>
    <form action="#" method="POST">
        <fieldset>
            <legend>Add a Comment</legend>
            <label>
                Nickname*:<br>
                <input type="text" name="nickname" aria-required="true">
            </label><br>
            <label>
                Email Address*:<br>
                <input type="email" name="email" aria-required="true">
            </label><br>
            <label>
                Comment*<br>
                <textarea name="comment" aria-required="true"></textarea>
            </label><br>
            <center>
                <button type="submit">Post Comment</button>
            </center>
        </fieldset>
    </form>
    {% if comment_list %}
        {% for comment in comment_list %}
            <article>
                <h3>
                    {{ comment.nickname }}
                </h3>
                <p>
                    {{ comment.email }}
                </p>
                <p>
                    {{ comment.pub_date }}
                </p>
                <p>
                    {{ comment.content }}
                </p>
            </article>
        {% endfor %}
    {% else %}
        <p>There are no comments on this post.</p>
    {% endif %}
{% endblock %}