{% extends 'blog/base.html' %}

{% block title %}
    {{ blog.title }}
{% endblock %}

{% block main %}
    <article>
        <h1>
            {{ blog.title }}
        </h1>
        <p>
            {{ blog.auth_name }}
        </p>
        <p>
            {{ blog.pub_date }}
        </p>
        <p>
            {{ blog.content }}
        </p>
    </article>
    <hr>
    <h2>
        Comments ({{blog.comment_set.count}})
    </h2>
    <form action="{% url 'blog:comment' blog.id %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Add a Comment</legend>
            <label>
                Nickname*:<br>
                <input type="text" name="nickname" aria-required="true">
            </label><br>
            <label>
                Email Address*:<br>
                <input type="email" name="email" aria-required="true">
            </label><br>
            <label>
                Comment*<br>
                <textarea name="comment" aria-required="true"></textarea>
            </label><br>
            <center>
                <button type="submit">Post Comment</button>
            </center>
        </fieldset>
    </form>
    {% if blog.comment_set.all %}
        <div class="comment">
            {% for comment in blog.comment_set.all reversed %}
                <article>
                    <h3>
                        {{ comment.nickname }}
                    </h3>
                    <div class="emailAndDate">
                        <a href="mailto:{{ comment.email }}">{{ comment.email }}</a> | {{ comment.pub_date }}
                    </div>
                    <p {% if comment.content.length < 30 %}class="shortComment"{% endif %}>
                        {{ comment.content }}
                    </p>
                    <hr>
                </article>
            {% endfor %}
        </div>
    {% else %}
        <p class="noComments">There are no comments on this post.</p>
    {% endif %}
{% endblock %}