{% extends 'blog/base.html' %}

{% block title %}
    Taako's Blog
{% endblock %}

{% block relative_path %}
{% endblock %}

{% block main %}
    <h1>Home</h1>
    {% if latest_blog_list %}
        <div class="flex">
            <div class="flexcol">
                {% for blog in latest_blog_list %}
                    <article class="blog">
                        <h2>
                            <a href="{% url 'blog:detail' blog.id %}">{{ blog.title }}</a>
                        </h2>
                        <p>
                            {{ blog.content|truncatewords:200 }}
                        </p>
                        <p>
                            {{ blog.comment_count }}
                        </p>
                    </article>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>No blogs are available.</p>
    {% endif %}
{% endblock %}